.v3nom-logo-hero {
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.8s ease;
  max-width: 90vw;
  width: 800px;
}

.v3nom-logo-hero:hover {
  transform: scale(1.05) !important;
}

